mat-toolbar{
    background-color: #eae9e9;
}
mat-sidenav{
    width: 230px;
    border-right: none;
    padding: 16px 0;
    background-color: #f9f9f9;
}
.content{
    height: calc(100vh-98px);
    border-radius: 10px;
    padding: 16px;
    max-width: 1520px;
    margin: 0 auto;
    font-size: 16px;
}
mat-sidenav-container{
    height: calc(100vh - 65px);
    background-color: #ffffff;
}

mat-nav-list mat-list-item {
    color: black; /* This changes the text color */
    font-weight: 500; /* Optional: Adjusts font weight for better visibility */
}
  
mat-list-item:hover {
    background-color: #ececec; /* Light gray background on hover */
    color: black; /* Keep text black on hover */
  }
  
  mat-list-item:hover .mat-icon {
    color: black; /* Keep icons black on hover */
  }

  
mat-list-item .mat-icon {
    color: black; /* Ensures that the icons also use the black color */
}

p{
    color: black;
}

/* Change the color of the icons in the button */
mat-toolbar button mat-icon {
    color: black;
  }
  
  /* Add a hover effect for the button */
  mat-toolbar button:hover {
    background-color: #e0e0e0; /* Light gray background on hover */
  }
  

  