<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="login icon">
        <h1>Sign up</h1>
        <form (ngSubmit)="register()" [formGroup]="registerUser">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                <label for="floatingInput">Email address</label>
                <span *ngIf="registerUser.get('email')?.hasError('required') && registerUser.get('email')?.touched" class="text-danger error-label">
                  El <strong>correo</strong> es requerido
                </span>
                <span *ngIf="registerUser.get('email')?.hasError('email') && registerUser.get('email')?.touched" class="text-danger error-label">
                  El <strong>correo</strong> es invalido
                </span>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                <label for="floatingPassword">Password</label>
                <span *ngIf="registerUser.get('password')?.hasError('required') && registerUser.get('password')?.touched" class="text-danger error-label">
                  La <strong>contraseña</strong> es requerido
                </span>
                <span *ngIf="registerUser.get('password')?.hasError('minlength') && registerUser.get('password')?.touched" class="text-danger error-label">
                  La <strong>contraseña</strong> debe tener minimo 8 caracteres
                </span>
              </div>
              
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingRepeatPassword" placeholder="Repeat password" formControlName="repeatPassword">
                <label for="floatingRepeatPassword">Repeat Password</label>
              </div>

              <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="submit" [disabled]="registerUser.invalid">Aceptar</button>
              </div>

            <a class="mt-3" routerLink="/auth/login">Regresar</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>

